
@import url(style.css);

.containerliv{
    height: 500px;
}
.content-title{
    font-size: 2.5rem;
    margin: 30px 140px 5px 140px;
}
.background-container{
    position: relative;
    width: 100%;
    height: 60vh;
    background-image: url('/img/fundo.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.background-container--title{
    color: white;
    font-size: 5rem;
    font-weight: bold;
}

.thead{
    border-top: 3px solid #f18324;
    border-bottom: 3px dashed #999999;
}

tr{
    height: 20px;
}

.tr-all{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.th{
    letter-spacing: 0.020em;
    text-align: center;
    color:#f18324;
    font-size: 24px;
    font-weight: normal;
}

.table {
    margin-bottom: 40px;
}

.containerliv{
    margin: 0 140px;
}

tbody{
    margin-bottom: 60px;
}


.a{
    color: #0d2226;
    text-decoration: none;
}

.a:hover{
    color: #f18324;
    text-decoration: none;
    transition: all 0.5s;
}
