
@import url(style.css);


/*Background*/
.background-container{
    position: relative;
    width: 100%;
    height: 60vh;
    background-image: url('/img/fundo.jpeg');
    background-size: cover;
    background-position: center;
}

.text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/*Tables*/
.thead{
    border-top: 3px solid #f18324;
    border-bottom: 3px dashed #999999;
    letter-spacing: 0.020em;
}

.th{
    letter-spacing: 0.020em;
    text-align: center;
    color:#f18324;
    font-size: 24px;
    font-weight: normal;
}

.table {
    margin-bottom: 40px;
}

.containerliv{
    margin-left: 80px;
    margin-right: 80px;
}

/*Título h1*/
.textbody h1{
    margin-top: 42px;
    margin-left: -49px;
    margin-bottom: 15px;
    font-size: 26px;
}

.tr{
    text-align: center;
}

/*Tag a behavior*/
.a:link{
    color: #0d2226;
    text-decoration: none;
}

.a:visited{
    color: #f18324;
}

.a:hover{
    color: #E5C287;
    text-decoration: none;
}

.a:active{
    color: #f18324;
}
