.author-name-box,
.biografy-box,
.title-box,
.isbn-box,
.nationality-box,
.photo-box{
    width: 100%;
}

.synopsis-box{
    width: 100%;
}

#synopsis{
    height: 150px;
}

.birthday-box,
.publishingcompany-box,
.publicationdate-box,
.category-box--dif,
.author-box--dif{
    width: 50%;
}

#biography{
    height: 150px;
}

.register-author,
.register-category{
    border: 1px solid #cdcdcd;
    width: 70%;
    height: auto;
    margin: 35px 0 35px 0;
    padding: 2rem;
}
