@import url(style.css);

.news{
   overflow-x: hidden;
}
.section-home {
    width: 100vw;
    height: 60vh;
    color:white;
    background-image:url('/img/livros.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    padding: 0 140px 0 140px;
    display: flex;
    align-items: center;
}

.section-home--title{
    font-size: 80px;
    font-weight: 700;
    width: 70%;
}


.btn-cta {
    margin-top: 20px;
    padding: 14px 25px;
    background-color:#F18324;
    color:white;
    text-decoration:none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.5s;
}

.btn-cta:hover{
    border: solid 1px #F18324;
    color: #F18324;
}

.i-rows{
    padding: 20px 140px 20px 140px;
    margin-top: 30px;
}

.i-rows h3 {
    margin: 20px 0;
}

.b-row{
    display: flex;
    gap: 2rem;
    width: 100%;
}

.card {
    width:250px;
    border:6px solid white;
    border-radius:4px;
    box-shadow:0px 5px 10px rgba(0, 0, 0, 0.1);
    padding:3px;
  }

.card-img-top {
    width:100%;
    height: 280px;
}

.card-body {
    padding:10px;
}

.card-title {
    font-size:14px;
    margin-bottom:4px;
    text-align:center;
}

.card-text {
    font-size:12px;
    margin-bottom:4px;
    text-align:center;
}

.btn-download {
    background-color:white;
    color:#F18324;
    border-color:#F18324;
    border-radius:4px;
    padding:4px 40px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:6px;
    text-decoration:none;
    display:inline;
}

  .btn-download:hover {
    background-color:#F18324;
    color: #ffffff;
    transition: all 0.5s;
  }

section h3  {
    color:#fff;
}

section p {
    margin-top:1px;
    margin:10px;
    color:#fff;
}

section {
    background-color:#0D2226;
    padding-top:0px;
}

.col-sm-3 {
    width:25%;
    padding:15px;
    box-sizing:border-box;
}
   h6 {
    margin-top:10px;
    font-size:18px;
}
